table.report tr.selected > td{
background:#dbdbdb;
}
table.report{width:100%;}
table.report td,table.report th{
border-left:1px solid #000000;
border-top:1px solid #000000;          
padding:3px;}
table.report thead > tr th{text-align:center;font-weight:normal;background:#EEEEEE;}

table.report tr > td:last-child,table.report tr > th:last-child{border-right:1px solid #000000}
table.report tr:last-child > td{border-bottom:1px solid #000000}

table.report tr.odd > td{background:#ffffff;}
table.report tr.even > td{background:#f3f3f3;}

table.report tfoot > tr td{border-top:none!important;}
table.report tfoot tr > td:first-child{background:#EEEEEE;}

table.report th.bor-right,table.report td.bor-right{
	border-right:1px solid #000
}
table.report th.bor-bottom,table.report td.bor-bottom{
	border-bottom:1px solid #000
}